<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<%= link_to 'Back', restaurants_path %>
<hr>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %> <%= "*"*review.rating %></p>
<% end %>
<hr>

<%= render 'reviews/form' %>


<!-- |
<%= link_to 'New Review', new_restaurant_review_path(@restaurant) %>
 -->
